body {
  margin: 0;
  background: #fff;
  box-sizing: border-box;
  color: #2C2F3C;
  font-family: "Hind", sans-serif; }

.landing-logo {
  display: flex; }
  .landing-logo p {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5px 0 0 14px;
    font-size: 24px;
    font-weight: 600;
    line-height: 20px; }
  .landing-logo span {
    display: block;
    font-size: 10px;
    font-weight: 600; }
  .landing-logo img {
    width: 45px;
    height: 45px; }

header {
  background: url("../img/m-h-day.jpg") center no-repeat;
  background-size: cover;
  padding-bottom: 175px;
  padding-top: 20px;
  border-bottom-right-radius: 50em 17em; }

.header-wrap, .footer .footer-wrap {
  width: 80%;
  margin: 0 auto; }
  .header-wrap .header_heading, .footer .footer-wrap .header_heading {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 72px;
    font-weight: 700;
    width: 40%;
    margin: 0;
    margin-top: 1em;
    line-height: 1em;
    position: relative;
    z-index: 1; }
    .header-wrap .header_heading:after, .footer .footer-wrap .header_heading:after {
      content: '';
      position: absolute;
      background-color: #14A0C7;
      z-index: -1;
      width: 305px;
      height: 50px;
      left: 0px;
      bottom: 0px; }
  .header-wrap .header_button, .footer .footer-wrap .header_button {
    background-color: #699900;
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 16px 43px;
    text-align: center;
    font-size: 16px;
    font-weight: 600; }
  .header-wrap .login, .footer .footer-wrap .login {
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 150px;
    color: #fff;
    font-size: 20px;
    font-weight: 600; }
  .header-wrap .header_text, .footer .footer-wrap .header_text {
    white-space: pre-line;
    font-size: 16px;
    margin: 30px 0 55px; }

main {
  margin: 0 auto;
  width: 65%; }
  main .section_text {
    margin: 36px auto;
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    z-index: 1; }
    main .section_text:after {
      content: '';
      position: absolute;
      background-color: #14A0C7;
      z-index: -1;
      width: 190px;
      height: 50px;
      left: 625px;
      bottom: 8px; }
  main .section_card {
    background-color: #21232E;
    display: flex;
    padding: 20px;
    border-radius: 4px;
    align-items: center;
    width: 86%;
    margin: 25px auto; }
    main .section_card .section_card_img {
      border-radius: 4px;
      width: 100%;
      height: auto; }
    main .section_card .section_card_right_container {
      text-align: center; }
      main .section_card .section_card_right_container .section_card_heading {
        color: #fff;
        font-size: 24px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600; }
      main .section_card .section_card_right_container .section_card_text {
        font-family: "Hind", sans-serif;
        margin: 15px 90px;
        text-align: justify;
        color: #C0C3C4; }
      main .section_card .section_card_right_container .section_link {
        color: #C0C3C4;
        margin-bottom: 5px; }
  main .section_banner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    margin: 147px auto -74px;
    background-image: linear-gradient(to right, #689801, #2E5CD4);
    border-radius: 6px;
    z-index: 10; }
    main .section_banner .section_banner_text_wrap {
      margin-left: 100px;
      height: 144px;
      padding-left: 60px; }
      main .section_banner .section_banner_text_wrap .section_banner_heading {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 30px;
        color: #2C2F3C;
        font-weight: 700;
        margin-bottom: 0.5em;
        margin-top: 24px;
        position: relative;
        z-index: 1; }
        main .section_banner .section_banner_text_wrap .section_banner_heading:after {
          content: '';
          position: absolute;
          background-color: #14A0C7;
          z-index: -1;
          width: 65px;
          height: 50px;
          left: 120px;
          bottom: 0px; }
      main .section_banner .section_banner_text_wrap .section_banner_text {
        font-size: 16px;
        color: #C0C3C4;
        font-family: "Hind", sans-serif; }
    main .section_banner .section_banner_button {
      background-color: #699900;
      border: none;
      border-radius: 4px;
      color: #fff;
      padding: 16px 43px;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      margin-right: 10em; }

.footer {
  background: #21232E;
  color: #C0C3C4; }
  .footer .footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 111px;
    padding-bottom: 20px; }
    .footer .footer-wrap .footer_text {
      width: 20%;
      font-size: 14px; }
