$backgroundMain: #fff;
$backgroundHeader: url('../img/m-h-day.jpg');
$backgroundSection: #21232E;
$backgroundSpecial: #14A0C7;
$colorBannerLeft: #689801;
$colorBannerRight: #2E5CD4;
$colorButton: #699900;
$colorText: #2C2F3C;
$fontMain: 'Hind', sans-serif;