$backgroundMain: #21232E;;
$backgroundHeader: url('../img/m-h-night.jpg');
$backgroundSection: #3B3F50;
$backgroundSpecial: #FF4E33;
$colorBannerLeft: #E2AB00;
$colorBannerRight: #922B53;
$colorButton: #E3AC00;
$colorText: #fff;
$fontMain: 'Fresca', sans-serif;