#root {
  max-width: 960px;
  margin: 0 auto;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.list {
  padding: 10px;
}

.list .list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
  border: 1px solid black;
  cursor: pointer;
}

.list .studied {
  background-color: lightgray;
}

button {
  margin: 10px
}

input {
  margin: 10px;
}